.text-first {
    color: black;
    font-weight: bold;
    margin: 0;
  }
  
  .text-orange {
    color: #fe9200;
  }
  
  p {
    margin: 0;
  }
  
  .text-second {
    font-size: 14px;
    font-weight: 400;
  }
  
  .text-third {
    font-size: 14px;
    font-weight: 600;
  }
  
  .img-item {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  