<div fxLayout="column" fxLayoutGap="5px">
    <h1 class="text-first">
      ¡Vamos por esos <span class="text-orange">{{ value | currency : 'USD' : 'symbol' : '1.0-0' }}</span> para
      <span class="text-orange">Conocer a mi sobrino</span>!
    </h1>
    <p class="text-second">
      ¡A través de tus productos y nuestros rendimientos podemos lograrlo!
    </p>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
      <p class="text-third">Asocia tus productos o adquiere uno nuevo.</p>
      <img class="img-item" src="assets/images/Group 12953.png" />
    </div>
    
  </div>
  
