<mat-card class="mat-elevation-z2 card-footer">
  <div fxLayout="row" fxLayoutAlign="space-around end" class="space">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
      <img class="img-skandia" src="assets/images/Group 123.png" />
      <span class="info-text copy"> &copy; 2019 Skandia</span>
      <p class="info-text">
        PBX:
        <span class="important-text">
          658 4000
          <span class="info-text">/</span> 484 1300</span
        >
      </p>
      <p class="info-text">
        Línea nacional <span class="text-important">01 8000 517 526</span>
      </p>
      <p class="info-text">Línea corporativa 658 4123</p>
      <p class="info-text">Av. 19 # 109A - 30</p>
      <p class="info-text">Bogotá D.C., Colombia</p>
      <p class="info-text"><b>Oficinas a nivel nacional</b></p>
    </div>

    <div
      class="links-text"
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="10px"
    >
      <p>Términos y Condiciones Canales de Servicio</p>
      <p>Defensoría del Consumidor Financiero</p>
      <p>Protección de Datos</p>
      <p>Definiciones Generales - Auto declaración FATCA y CRS</p>
      <p>Recomendaciones de Seguridad</p>
      <p>Ley de Transparencia</p>
      <p>Mapa del sitio</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
      <img class="img-redes" src="assets/images/facebookl.svg" />
      <img class="img-redes" src="assets/images/youtube.svg" />
      <img class="img-redes" src="assets/images/twitter.svg" />
    </div>
  </div>
</mat-card>
