.img-redes {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.links-text > p {
  font-size: 14px;
  text-decoration: underline;
  color: #3f3f3f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor:pointer;
}

.info-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #3f3f3f;
}

.important-text {
  color: #00C83C;
  font-weight: bold;
}

.img-skandia, .copy {
  margin-bottom: 35px !important;
}

.space{
  line-height:1;
  margin: 5%;
}
